<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Business Register</title>
</head>

<body>

    <h1 style="text-align:center">Login form</h1>

    <div class="container">
        <div class="jumbotron">
            <h1>Register your business</h1>
            <p> a lot of things missing. Ugly AF. Authentication patterns on the html file itself</p>
        </div>
    
        <form th:object="${restaurant}" th:action="@{'/register'}" method="post">
            <div class="form-group">
                <label for="inputBusiness" maxlength="30" pattern="([A-zÀ-ž\s]){2,}">Name of your business</label>
                <input type="text" th:field="*{name}" class="form-control" id="inputBusiness" placeholder="Name of your business" required>
              </div>
          
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" th:field="*{address}" pattern="([A-zÀ-ž\s]){2,}" class="form-control" id="inputAddress" placeholder="address" required>
          </div>
          
          <div class="form-group">
            <label for="inputZip">Postal Code</label>
            <input type="text" th:field="*{postalCode}" pattern="[0-9]{4}\-[0-9]{4}" class="form-control" id="inputZip" placeholder="Postal code" required>
          </div>


          <div class="radioButtons">

                <p style="margin-top:5px" ><label>Take away?</label></p>

                <input type="radio" id="yes" name="take-away" th:field="*{hasTakeAway}" th:value="yes" required>
                <label for="yes">Yes</label>

                <input type="radio" id="no" name="take-away" th:field="*{hasTakeAway}" th:value="no" required />
                <label for="no">No</label>

          </div>


          <div style="margin-top:5px" class="form-group">
            <label for="inputName">Name</label>
            <input type="text" th:field="*{ownerName}" pattern="([A-zÀ-ž\s]){2,}" class="form-control" id="inputName" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" th:field="*{email}" class="form-control" id="inputEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="inputPhone">Phone</label>
            <input type="text" th:field="*{phone}" pattern="[9]{1}[0-9]{8}" title="Phone number starting with 9 and remaining 8 digit with 0-9" class="form-control" id="inputPhone" placeholder="Phone">
          </div>


          <button type="submit" class="btn btn-outline-success" name="action" value="done">Submit</button>
        </form>
    
    </div>
<div style="margin-bottom: 40px"> </div>
</body>
</html>