<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Food - Eat </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

       
        <link rel="stylesheet" href="../resources/css/restaurantPage.css"> 
        
        <link rel="stylesheet" href="../resources/css/styles.css">

    </head>
    
    <body>
    
        <!-- Header -->
        <header class="header" id="HOME">
            
            <!-- Navigation -->
            
            <nav class="navbar navbar-default navbar-fixed-top">
              
                
                <div class="container">
                  
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#loso-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">
<!--                          logo-->
                          <!--
                              Food-Eat
                        -->
                          <h1> Cantinho da paz </h1>
                            <p>We are small place in bairro alto.</p>

                        </a>
                    </div>

                <!-- Collect the nav links, forms, and other content for toggling 
                <div class="collapse navbar-collapse" id="loso-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                        <li><a href="#HOME" class="nav-item">HOME</a></li>
                        <li><a href="#ABOUT" class="nav-item">ABOUT</a></li>
                        <li><a href="#MOMENTS" class="nav-item">MOMENTS</a></li>
                        <li><a href="#CONTACT" class="nav-item">CONTACT</a></li>
                  </ul>
                 
                </div>
                -->
              </div>
</nav>
            
            <div class="header-overlay">
            
            
              	<div class="container header-container">
                
                    <div class="row">
                    
                        <div class="col-md-12">
                        
                            <!-- Todo
                            <div class="logo text-center">

                                <img alt="logo">

                            </div>
                        
                        </div><div class="col-md-12">
                        
                            <div class="logo text-center">
                            
                                <img alt="logo">
                            
                            </div>
                        
                        </div>
                    
                    </div>
                    -->
                    
                    <br>
                    <br>
                    <div class="row">
                        
                        <div class="col-md-12">
                        
                            <div class="header-text">
                            
                                <!-- Title & Description -->
                                <h3>Support small businesses</h3>
                                <p> Built with great love!</p>
                            
                            </div>
                            <br>
                            <br>
                            <br>
                           <!--
                            <div class="header-btns">
                                <a class="btn btn-download wow fadeInLeft" href="#">Main Page</a>
                                </a>
                            </div>
                        -->
                        </div>
                        
                    </div>
                    
                </div>
            
            </div>
            
        </header>
        
        <!-- REstaurant bio -->
        <section id="ABOUT">
        
            <div class="container">
            
                <div class="row">
                
                    <div class="col-md-10 col-md-offset-1">
                    
                        <!-- About us Title & Description -->
                        <div class="section-title">
                        
                            <!--
                            <h1> Cantinho da paz </h1>
                            <p>We are small place in bairro alto.</p>
                            -->
                        
                        </div>
                    
                    </div>
                
                </div>
            
            </div>
        
            <div class="choose-us-wraper">
            
                <div class="container">
                
                    <div class="row">
                    
                        <div class="col-md-6">
                        
                            <div>
<!--                                <a data-flickr-embed="true" href="https://www.flickr.com/photos/55706487@N06/49833007592/in/album-72157714087907672/" title="cantinho_1"><img src="https://live.staticflickr.com/65535/49833007592_32ee916c30_b.jpg" width="500" height="850" alt="cantinho_1"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>-->
                                <img class="img-responsive" src="https://live.staticflickr.com/65535/49833007592_32ee916c30_b.jpg" alt="candinho da paz">
                            </div>
                        
                        </div>
                        
                        <div class="col-md-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                            <!-- Why choose us title -->
                            <div class="choose-us-title">
                                <h2>Why come here?</h2>
                                <p>we are pretty cool and stuff.
                                    Lipsum Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque lacus dui, interdum sit amet varius a, cursus sit amet sapien. Donec eu placerat nisi.
                                </p>
                            
                            </div>
                            
                            <!-- why choose us description -->
                            <div class="choose-us-des">
                            
                                <!-- choose us item 1 -->
                                <div class="choose-us-item wow fadeInUp" data-wow-duration=".5s" data-wow-delay="1s">
                                    
                                    <!-- choose us item icon -->
                                    <div><i class="fa fa-bolt"></i></div>
                                    
                                    <!-- choose us item title & des -->
                                    <h2>A piece of history: </h2>
                                    <p>Lipsum Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque lacus dui, interdum sit amet varius a, cursus sit amet sapien. Donec eu placerat nisi.</p>
                                
                                </div>
                                
                                
                                <!-- choose us item 2 -->
                                <div class="choose-us-item wow fadeInUp" data-wow-duration=".5s" data-wow-delay="1s">
                                    
                                    <!-- choose us item icon -->
                                    <div><i class="fa fa-bullhorn"></i></div>
                                    
                                    <!-- choose us item title & des -->
                                    <h2>Where are we</h2>
                                    <p>Rua da Paz 4, 1200-337 Lisboa</p>
                                </div>

                                <button type="button" class="btn btn-secondary">Menu</button>
                            
                            </div>
                        
                        </div>
                    
                    </div>
                
                </div>
            
            </div>
        
        
        </section>

        <!-- sharing -->
        <section class="features" id="MOMENTS">
            
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    
                        <div class="section-title wow fadeIn" data-wow-duration="1s">
                        
                            <br>
                            <br>
                            <h2> Share your experiences</h2>
                            
                            <p>Upload your experiences, not the food!</p>
                            
                        </div>
                    
                    </div>
                    
                </div>
            
            
            </div>
            <br>
            
            <div class="features-inner-wrapper">
            
                <div class="container">
                
                    <div class="row">
                    
                    
                        <div class="col-md-4 wow fadeInLeft" data-wow-duration="1s">
                        
                            
                            <!-- left feature item 01 -->
                            <div class="left-feature-item">
                                <!-- Icon -->
                                <div class="left-feature-item-icon">
                                    <i class="fa fa-desktop"></i>
                                </div>
                            
                                <br>
                                <br>
                                <br>

                            </div>

                             <!-- left feature item 02 -->
                            <div class="left-feature-item">
                                <!-- Icon -->
                                <div class="left-feature-item-icon">
                                    <i class="fa fa-mobile"></i>
                                </div>
                            
                                <!-- feature item title & description -->
                                <h3> MOMENTS </h3>
                                <p>We want to see how much fun you're having! Hug the owners, have a toast with your friends, have fun!</p>
                            
                            </div>
                            
                            <br>
                        
                        </div>
                        
                        <div class="col-md-4">
                        
                                <div class="feature-iphone">
                                    <img class="wow bounceIn img-responsive" data-wow-duration="1s" src="https://live.staticflickr.com/65535/49832162238_e25536bf3a_z.jpg" alt="feature iphone" width="300px" height="250px">
                            
                                </div>
                        
                        </div>
                        
                        <div class="col-md-4 wow fadeInRight" data-wow-duration="1s">
                        
                             <!-- right feature item 02 -->
                            <div class="right-feature-item">
                    
                                <br>
                                <br>
                                <br>

                                <!-- feature item title and description -->
                                <h3> SHARE IT WITH THE WORLD</h3>

                                <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>


                            </div>
                        
                        </div>
                    
                    </div>
                
                </div>
            
            </div>
            <br>
            <br>
        
        </section>
        <br>
        <br>

        <div id="image-container">
                        
             <!-- Portfolio Grid Items-->
             <div class="row">
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://live.staticflickr.com/65535/49833192571_6cf75b8de4_z.jpg" alt="" width="300px" height="200px" />
                    </div>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://live.staticflickr.com/65535/49832657748_3063d7e401_z.jpg" alt="" width="300px" height="200px" />
                    </div>
                </div>
                <!-- Portfolio Item 3-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://live.staticflickr.com/65535/49832657738_fe3e55bb50_z.jpg" alt="" width="300px" height="200px" />
                    </div>
                </div>
                <!-- Portfolio Item 4-->
                <div class="col-md-6 col-lg-4 mb-5 ">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://live.staticflickr.com/65535/49833499222_4c3d6bef93_z.jpg" alt="" width="300px" height="200px"/>
                    </div>
                </div>
                <!-- Portfolio Item 5-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://live.staticflickr.com/65535/49833499187_79e9c60ab5_z.jpg" alt="" width="300px" height="200px" />
                    </div>
                </div>
                <!-- Portfolio Item 6-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://live.staticflickr.com/65535/49832657713_2c9e6055d7_z.jpg" alt="" width="300px" height="200px"/>
                    </div>
                </div>
            </div>
        </div>
    

           <!--
            <a href=""><img src="https://live.staticflickr.com/65535/49833192571_6cf75b8de4_z.jpg" alt="cantinhoDaPAz" width="150" height="200"></a>
            <a href=""><img src="https://live.staticflickr.com/65535/49832657748_3063d7e401_z.jpg" alt="cantinhoDaPAz" width="250" height="200"></a>
            <a href=""><img src="https://live.staticflickr.com/65535/49832657738_fe3e55bb50_z.jpg" alt="cantinhoDaPAz" width="250" height="200"></a>
            <a href=""><img src="https://live.staticflickr.com/65535/49833499222_4c3d6bef93_z.jpg" alt="cantinhoDaPAz" width="200" height="200"></a>
            <a href=""><img src="https://live.staticflickr.com/65535/49833499187_79e9c60ab5_z.jpg" alt="cantinhoDaPAz" width="200" height="200"></a>
            <a href=""><img src="https://live.staticflickr.com/65535/49832657713_2c9e6055d7_z.jpg"  alt="cantinhoDaPAz" width="250" height="200"></a>
            -->

        </div>

            <div class="container">
                
                <div class="row">
                
                    <div class="col-md-10 col-md-offset-1">
                    
                        <div class="section-title">
                        
                            <h2>Meet the owner </h2>
                            <p>Meet Sr.André! He'll always have a smile for you!</p>
                            
                        </div>
                    
                    </div>
                
                </div>
            
            </div>
            
            <br>
            <div class="container">
            
                <div class="row">
                
                    <div class="col-md-8 col-md-offset-2 wow fadeInUp">
                            <img class="img-responsive" src="https://live.staticflickr.com/65535/49832699176_20823dea16_z.jpg">
                    </div>
                    
                </div>
                
            </div>
        
        </section>
        
        <!-- Available On TO REVISIT -->
        <!-- <section class="available-on">
        
            <div class="container wow bounceInRight" data-wow-duration="1s">
            
                <div class="row">
                
                    <div class="col-md-6">
                    
                        <div class="available-title">
                            <h2>Available On </h2>
                        </div>
                    
                    </div>
                    
                    <div class="col-md-6">
                    
                        <div class="row">
                        
                            <a href="#">
                            
                                <div class="col-md-4 no-padding">
                                    <div class="available-on-item">
                                    
                                        <i class="fa fa-apple"></i>
                                        <div class="available-on-inner">
                                        
                                            <h2> iOS</h2>
                                        
                                        </div>
                                    
                                    </div>
                                
                                </div> 
                                
                            
                            </a>
                             <a href="#">
                            
                                <div class="col-md-4 no-padding">
                                    <div class="available-on-item">
                                    
                                        <i class="fa fa-android"></i>
                                        <div class="available-on-inner">
                                        
                                            <h2> ANDROID</h2>
                                        
                                        </div>
                                    
                                    </div>
                                
                                </div> 
                            
                            </a>
                            
                             <a href="#">
                            
                                <div class="col-md-4 no-padding">
                                    <div class="available-on-item">
                                    
                                        <i class="fa fa-windows"></i>
                                        <div class="available-on-inner">
                                        
                                            <h2> WINDOWS</h2>
                                        
                                        </div>
                                    
                                    </div>
                                
                                </div> 
                                
                            
                            </a>
                        
                        </div>
                    
                    </div>
                
                </div>

            </div>
        
        </section> -->
        
        
        <!-- Contact Us -->
        <section class="contact-us" id="CONTACT">
        
            <div class="container wow bounceIn">
            
                    <div class="row">

                        <div class="col-md-10 col-md-offset-12">
                        
                            
                            
                        </div>


                    </div>
            
            </div>
            
           
            <div class="container">
                <div class="row">
                <div class="section-title">
                            
                                <h2>Follow Us</h2>
                                <p>Follow us on the social media. We do some cool s#it!</p>
                            </div>
                    <div class="col-md-12 wow bounceInLeft">
                    
                        <div class="social-icons">
                        
                            <ul>
                                <li><a href="https://www.facebook.com/academiadecodigo/"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="https://twitter.com/academia_codigo?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="https://www.youtube.com/channel/UCFefYbYuXZNcfSsY2NbI_YA"><i class="fa fa-youtube-play"></i>Youtube</a></li>
                            </ul>
                        
                        </div>
                    
                    </div>
                
                </div>
            
            </div>
        
        </section>
        
        <!-- Footer -->
        <footer class="footer">
        
            <div class="container">
            
                <div class="row">
                
                    <div class="col-md-12">
                    
                        <div id="copyright">
                            <p>Copyright &copy; Team Bravo 2020<a href="#"> - Academia de código</a></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                    
                            <div class="scroll-top">
                                <a href="#HOME" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>
                            </div>
                    </div>
                
                
                </div>
            
            </div>
        
        
        </footer>
        
    </body>


</html>